body {
	text-align: center;
	margin-top: 25px;
}
html, body {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	background-color: #fff;
	width: 1024px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
#header {
	height: 225px;
	width: 374px;
}
#mainNav {
	background-color: #FFF;
	height: 350px;
	width: 374px;
	position: absolute;
	left: 0px;
	top: 225px;
	right: 0px;
	bottom: 0px;
}
#mainContent {
	height: 575px;
	width: 650px;
	position: absolute;
	left: 374px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
#footer {
	height: 100px;
	width: 1024px;
	position: absolute;
	left: 0px;
	top: 575px;
	right: 0px;
	bottom: 0px;
}
#footer > p {
	text-align: right;
	font-size: x-small;
	font-family: arial;
	color: #ccc;
}
a:link {
	text-decoration: none;
	color: #666666;
}
a:visited {
	text-decoration: none;
	color: #666666;
}
a:hover {
	text-decoration: none;
	color: #CC0000;
}
a:active {
	text-decoration: none;
	color: #CC0000;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: right;
	padding-top: 35px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 20px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 425px;
	line-height: 20px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: left;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
}
.italOf {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #999999;
	font-style: italic;
}
.gray {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.style1 {
	margin-right: 30px;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
}
@media all and (max-width: 768px) {
	#wrapper  {
		width: auto;
	}

	#mainContent, #mainNav {
		position: static;
	}
	#header {
		margin-left: auto;
		margin-right: auto;
	}
	#mainNav {
		height: 290px;
		margin-right: 40px;
		margin-left: auto;
	}
	#mainNav > h1 {
		padding-right: 0;
		font-size: 16px;
	}
	#mainContent, #footer {
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
		padding-right: 40px;
	}
	#mainContent {
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}
	#mainContent > img {
		width: 100%;
		height: auto;
	}
	#footer {
		position: relative;
		top: 0;
		left: 0;
		right: auto;
		bottom: auto;
		width: auto;
	}
	#footer > h2 {
		padding-left: 0;
	}
	#footer > img {
		width: auto;
		position: absolute;
		right: 40px;
	}
}